body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #330036;
    width: 100%;
    font-family: 'Archivo', sans-serif;
    ;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: large;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

h2 {
    font-size: small;
    text-align: center;
    margin-top: 1.3rem;
    font-size: 0.9rem;
}

h4 {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
}

#nav {
    width: 100%;
    display: flex;
    font-size: 0.65rem;
    margin: 0;
    height: 4rem;
}

.nav {
    width: 45%;
    margin-top: 0.7rem;
    margin-right: 0.4rem;
    display: flex;
    justify-content: center;
}

.nav-element {
    background-color: #38182F;
    border-radius: 30px;
    padding: 0.4rem;
    color: white;
}

.logo {
    width: 10%;
    object-fit: cover;
    height: 2.8rem;
    justify-self: center;
}

.nav-ul {
    display: flex;
    gap: 0.7rem;
    padding-left: 0.5rem;
    margin-right: 0.3rem;
}

.contenedor-login {
    width: 45%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.contenedor-login a {
    color: white;
}

.contenedor-login a:first-child {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.caja-login {
    background-color: #38182F;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.caja-nav-element {
    background-color: #38182F;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.portada {
    width: 100%;
    height: 7rem;
}

.portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cursos {
    width: 100%;
}

.cursos {
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4.5rem 4.5rem 4.5rem;
    gap: 1.5rem;
    margin: 0 auto;
}

.curso img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#contacto {
    margin-bottom: 2rem;
}

.contacto {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    margin: 0 auto;
}

.contacto img {
    width: 0.8rem;
    height: 0.8rem;
}

.contacto p {
    font-size: 0.48rem;
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-footer {
    width: 3rem;
    margin: 0 auto;
    border-radius: 1.4rem;
}

#footer p {
    font-size: 0.6rem;
}

@media (min-width: 768px) {
    html {
        font-size: 32px;
    }
    .contenedor-login {
        gap: 1rem;
    }
}

@media (min-width: 1368px) {
    html {
        font-size: 48px;
    }
}